<div>
  <h1>Practica 2</h1>
  <hr>
  <h4>Juegos</h4>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt libero facilis, amet veniam quasi delectus temporibus quaerat? Tempora ducimus ipsam itaque optio ut dolorum magni pariatur reiciendis ipsum aspernatur, veritatis temporibus dolore quaerat assumenda deserunt placeat similique quis ratione aliquid neque inventore minus doloremque quae. Odio vitae totam libero! Placeat sunt id eum quidem voluptas necessitatibus ratione, consequuntur eius laborum quasi maiores est ad atque sint earum dolor totam suscipit temporibus ipsum obcaecati dicta iste dolores! Sed optio illo sequi adipisci eum unde distinctio, totam, ad magnam molestiae repudiandae eaque architecto voluptas, repellendus ea itaque quis commodi? Beatae, corrupti praesentium.
  </p>
</div>


